<p class="header">
    <a href="{{site.baseurl}}/projects.html">Projects in this Repository</a><br /> 
    <a href="{{site.baseurl}}/bibliography.html">Bibliography</a><br /> 
    <a href="{{site.baseurl}}/works.html">Timepieces</a><br /> 
    <a href="{{site.baseurl}}/organizations.html">Organizations</a><br /> 
    <a href="{{site.baseurl}}/tools.html">Software and Hardware Tools</a><br /> 
    <a href="{{site.baseurl}}/parts.html">Parts and Suppliers</a><br /> 
    <a href="{{site.baseurl}}/notes.html">Notes</a><br /> 
</p>


